@-ms-viewport {
  width: device-width
}
@-o-viewport {
  width: device-width
}
@viewport {
  width: device-width
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: white;
}

a {
  -webkit-touch-callout: none;
}

.preload {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.link {
  display: block;
}

.link,
.image {
  height: inherit;
}

.image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(image.png);
}
